.genres{
    font-family: cursive;
    font-size: 20px;
    background-color: transparent;
    border: none;
 position: absolute;
 margin-inline: 20px;
 top: 30px;
    left: 35%;
    width: 110px;
    outline: none;
}

.genres:hover{
    color:#00bbf0;
}